<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인 페이지</title>


<!-- 파일업로드 / 부트스트랩보다 위에 위치할 것 -->
 <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script  src="http://code.jquery.com/jquery-latest.min.js"></script> -->




<!-- 메인 부트스트랩 -->
<!-- <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<script src="/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}"></script>
<script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- 캘린더 사용 / 부트스트랩보다 아래 위치할 것 -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>



<!-- 폰트어썸 -->
<link
   href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
   rel="stylesheet">
<link
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
   rel="stylesheet">


<style>

	/* 헤더 */
	input {
		width: 100%;
		border-radius: 20px;
		border: 1px solid #bbb;
		margin: 10px 0;
		padding: 10px 12px;
		font-family: fontAwesome;
	}
	

	
</style>

<!-- 달력 -->
<script>
	$(document).ready(function() {
		$(function() {
			$("#testDatepicker").datepicker({
				changeMonth: true,
				changeYear: true,
				nextText: '다음 달',
				prevText: '이전 달'
			});
		});
	});
</script>


</head>
<body>
	<!-- <header class="container">
		<div class="jumbotron">
			<h1 class="text-center">로그인 페이지</h1>
			<div class="row">
        </div>
		</div>
	</header> -->
	<header>
		<div class="row" id="">
			<div class="text-center mx-auto mt-5">
				<div class="col-md">
					<a class="display-4 text-warning" style="font-size: 2.5em; font-weight: bold; text-decoration: none;" href="/login.html">HOME recipe</a>
				</div>
			</div>
		</div>
	</header>
	
	<main class="container">
		<section class="row">
			<article class="col-sm-6 mx-auto">
				<!-- get으로 보내면 주소창에 id, pw 다 붙여서 보내기 때문에 꼭 POST 형식으로 보내주기 -->
				<form action="/login/loginCheck" method="POST">
					<div class="form-group">
						<label for="userId">ID : </label>
						<input type="text" class="form-control" id="userId" name="userId" placeholder="ID를 입력해주세요">
					</div>
					<div class="form-group">
						<label for="userPw">비밀번호 : </label>
						<input type="password" class="form-control" id="userPw" name="userPw" placeholder="비밀번호를 입력해주세요">
					</div>
					<div>
						<label for="userYear">생년월일 : </label>
						<input type="text" id="testDatepicker">
					</div>
					<button type="submit" class="btn btn-primary btn-block">로그인</button>
				</form>
				<form>
    <p>
        <label for="image">Image:</label>
        <br />
        <input type="file" name="image" id="image" />
    </p>
    </form>
    <div id="image_preview">
        <img src="#" />
        <br />
        <a href="#">Remove</a>
    </div>
			</article>
		</section>
	</main>
	<footer class="jumbotron mt-3 mb-0">
		<div class="container">
			<h5 class="text-center">made by bitc</h5>
		</div>
	</footer>
	

	
	<script type="text/javascript">


    /** 
    onchange event handler for the file input field.
    It emplements very basic validation using the file extension.
    If the filename passes validation it will show the image using it's blob URL  
    and will hide the input field and show a delete button to allow the user to remove the image
    */

    $('#image').on('change', function() {
        
        ext = $(this).val().split('.').pop().toLowerCase(); //확장자
        
        //배열에 추출한 확장자가 존재하는지 체크
        if($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
            resetFormElement($(this)); //폼 초기화
            window.alert('이미지 파일이 아닙니다! (gif, png, jpg, jpeg 만 업로드 가능)');
        } else {
            file = $('#image').prop("files")[0];
            blobURL = window.URL.createObjectURL(file);
            $('#image_preview img').attr('src', blobURL);
            $('#image_preview').slideDown(); //업로드한 이미지 미리보기 
            $(this).slideUp(); //파일 양식 감춤
        }
    });

    /**
    onclick event handler for the delete button.
    It removes the image, clears and unhides the file input field.
    */
    $('#image_preview a').bind('click', function() {
        resetFormElement($('#image')); //전달한 양식 초기화
        $('#image').slideDown(); //파일 양식 보여줌
        $(this).parent().slideUp(); //미리 보기 영역 감춤
        return false; //기본 이벤트 막음
    });
        

    /** 
    * 폼요소 초기화 
    * Reset form element
    * 
    * @param e jQuery object
    */
    function resetFormElement(e) {
        e.wrap('<form>').closest('form').get(0).reset(); 
        //리셋하려는 폼양식 요소를 폼(<form>) 으로 감싸고 (wrap()) , 
        //요소를 감싸고 있는 가장 가까운 폼( closest('form')) 에서 Dom요소를 반환받고 ( get(0) ),
        //DOM에서 제공하는 초기화 메서드 reset()을 호출
        e.unwrap(); //감싼 <form> 태그를 제거
    }
    </script>
</body>
</html>
