<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그아웃</title>

<link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<script src="/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}"></script>
<script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

<script>
	$(document).ready(function() {
		setTimeout(function() {
			location.href="/login/login";
		}, 2000);
	});
</script>

</head>
<body>
	<h1>로그 아웃했습니다.</h1>
</body>
</html>